[2017-12-07 21:09] jwogrady opened #2 "Make Fails"
Well, I gave it a shot...  Here is the error.  Thanks for your efforts.

[code]

[2017-12-08 17:49] janiosarmento opened #3 "GeoIP issue"
When I try using your nginx.conf there is an error due to GeoIP data file:

[code]

I tried downloading the data file from Maxmind, but I was unable to find the correct archive.

As a workaround I commented the two GeoIP directives and everything is fine enough. 👍

[2017-12-12 14:10] VirtuBox commented on #3
Yes, I have notice this error and I have added comments before this lines with a quick tutorial about how to use GeoIP module with Nginx

https://gist.github.com/VirtuBox/9ed03c9bd9169202c358a8be181b7840

[2017-12-12 14:10] #3 closed

[2017-12-12 16:27] VirtuBox commented on #2
Is the issue resolved with the new release ?

[2017-12-15 08:46] thechiefnerd opened #5 "Error with --with-ld-opt"
checking for OS
 + Linux 4.4.0-101-generic x86_64
checking for C compiler ... found
 + using GNU C compiler
 + gcc version: 4.8.4 (Ubuntu 4.8.4-2ubuntu1~14.04.3)
checking for gcc -pipe switch ... found
checking for --with-ld-opt="-Wl,-Bsymbolic-functions -Wl,-z,relro" ... not found
./configure: error: the invalid value in --with-ld-opt="-Wl,-Bsymbolic-functions -Wl,-z,relro"

I've tried editing to

[2017-12-15 12:29] #5 closed

[2018-02-11 08:08] jasomdotnet opened #7 "What about nginx-push-stream-module?"
[nginx-push-stream-module](https://github.com/EasyEngine/easyengine/issues/960)

[2018-02-16 12:14] VirtuBox commented on #7
Hello, I will have to take a look on the module and to run some tests.

[2018-02-18 21:50] dmartuszewski commented on #2
I'm having the same issue
`cp conf/scgi_params \
        '/etc/nginx/scgi_params.default'
test -f '/etc/nginx/nginx.conf' \
        || cp conf/nginx.conf '/etc/nginx/nginx.conf'
cp conf/nginx.conf '/etc/nginx/nginx.conf.default'
test -d '/run' \
        || mkdir -p '/run'
test -d '/var/log/nginx' \
        || mkdir -p '/var/log/nginx'
test -d '/usr/share/nginx/html' \
        || cp -R html '/usr/s

[2018-02-18 22:24] VirtuBox commented on #2
Hello,
Do you use Ubuntu 16.04 LTS or Debian 8 ?
Can you check if there was other error before the compilation ?

[2018-02-19 11:33] aegis123 opened #8 "errors when compiling on ubuntu 16.04"
When I try to compile this NGINX on fresh VPS at digital ocean running ubuntu 16.04.03 I get the following error. This is a clean VPS only ran `apt-get update && upt-get upgrade -y` before running `bash <(wget -O - https://raw.githubusercontent.com/VirtuBox/nginx-ee/master/nginx-build.sh)`

[code]

[2018-02-19 13:06] dmartuszewski commented on #2
Hi
16.04 LTS and no errors before

[2018-02-19 20:52] VirtuBox commented on #8
Hello,

you have to install nginx with EasyEngine before launching my bash script

[2018-02-20 13:18] VirtuBox commented on #8
I have updated the requirements on the readme page. But yes, you have to install EasyEngine to use this bash script. My custom server configurations with EE are available on this repository : https://github.com/VirtuBox/ubuntu-nginx-web-server

[2018-02-20 13:18] #8 closed

[2018-02-20 13:18] VirtuBox commented on #2
Hello,
can you try with the new script release ?

[2018-02-22 07:16] dmartuszewski commented on #2
Works now, thanks.

[2018-02-22 10:42] #2 closed

[2018-02-25 18:21] 7onmoy opened #9 "Stuck at Downloading pagespeed"
Welcome to the nginx-ee bash script.

Do you want Ngx_Pagespeed ? (y/n)
y

Do you want NAXSI WAF (still experimental)? (y/n)
y
       Installing dependencies                [OK]
       Downloading additionals modules        [OK]
       Downloading brotli                     [OK]
       Downloading openssl                    [OK]
       Downloading naxsi                      [OK]
       Downloading

[2018-02-25 20:57] ashishdungdung commented on #9
Restart your server and try again.

[2018-02-26 20:40] VirtuBox commented on #9
@7onmoy Hello, I have tested my bash script again on Debian 8 and Ubuntu 16.04 LTS, and I wasn't able to reproduce this error.

Can you check if curl is installed on your server?

[2018-04-04 17:49] #9 closed

[2018-05-09 02:14] vibhi19 opened #11 "Does it config itself"
Hi The additional module config itself like memcache module brotli module or Naxsi WAF module
Does i have to config them

[2018-05-09 23:16] VirtuBox commented on #11
Hello,

you can find several configuration examples on my other repository [ubuntu-nginx-web-server](https://virtubox.github.io/ubuntu-nginx-web-server/), but otherwise you will have to configure them manually.

[2018-05-10 11:54] vibhi19 commented on #11
wget -O - https://raw.githubusercontent.com/VirtuBox/nginx-ee/master/nginx-build.sh

running this cmd doesnt change the version im still on 1.10.3

and how to config naxsi module and how i know what module has been installed and what they do

[2018-05-10 11:58] vibhi19 commented on #11
and in ufw you add multiple port
and running this cmd netstat -tulpn

it show some more proceess like hhvm should i add their port too like this
ufw allow 2123

https://kb.virtubox.net/knowledgebase/ufw-iptables-firewall-configuration-made-easier/

[2018-05-11 10:45] vibhi19 opened #12 "How to config naxsi WAF"
can you tell me how to config Naxsi WAF ? Link to any article you wrote

[2018-05-11 14:28] VirtuBox commented on #11
The command is :
[code]
do not remove the bash at the beginning.
You can see the list of nginx modules with the command `nginx -V`

About UFW, process like hhvm should not be accessible from the outside.

[2018-05-13 03:48] vibhi19 commented on #11
Ok should i allow them in UFW or not
like This ufw allow 2123 and  other process which i get from this command
netstat -tulpn

https://kb.virtubox.net/knowledgebase/ufw-iptables-firewall-configuration-made-easier/

[2018-05-13 05:49] VirtuBox commented on #11
No, do not allow it with UFW if you are not sure you need it. All ports you need to allow with UFW for EasyEngine are listed in my article.

When you use the command `netstat -tulpn`, you can safely ignore all services listening on 127.0.0.1:XXX or ::1:XXX.

[2018-05-13 05:51] VirtuBox commented on #12
I haven't write an article about Naxsi yet. But I'm sure there are already some tutorials and guides available about Naxsi configuration.

[2018-05-13 05:53] VirtuBox commented on #7
HTTP/2 push module is available with Nginx 1.13.9

[2018-05-13 05:53] #7 closed

[2018-05-14 17:16] #12 closed

[2018-05-14 17:17] #11 closed

[2018-05-29 18:10] yyhmsg opened #13 "Latest nginx-ee/nginx-common/nginx-custom ok with this script?"
First, thanks for this great script.  I have just a quick question about the latest easy engine downloads and your script to ensure they are all ok.

I noticed on my server today the following packages have apt updates:
  nginx-common nginx-custom nginx-ee

These are the underlying packages from easy engine as best I can tell (updated very recently) that your script updates.  Should these updates

[2018-05-30 12:50] VirtuBox commented on #13
Hello @yyhmsg,

It's only a matter of choice, because the new nginx-ee release is up-to-date with Nginx v1.14.0, and the only differences with nginx-ee compiled with my bash script are the additional modules.
So, if you prefer to use the nginx-ee package available from the EasyEngine repository, you can install it to replace the compiled nginx.

You may have to make some changes in your nginx.conf

[2018-05-30 13:05] yyhmsg commented on #13
I'd rather keep your script as it is more likely to be kept up to date.  I see:

 apt-mark showhold
nginx-common
nginx-ee

Should nginx-custom also be held back?  or will that not matter?

[2018-05-30 17:29] VirtuBox commented on #13
It doesn't matter, I have run `apt update && apt full-upgrade -y` on my servers running with EasyEngine and the compiled nginx isn't replaced by the new nginx-ee release from the apt repository.

[2018-06-02 22:03] #13 closed

[2018-07-25 08:04] kakaroto1500 opened #16 "the pagespeed only works on the site when I am logged in to wordpress"
hello my friend, first of all I want to thank you for the work you are doing
Following your tutorial I was able to activate page speed in wordpress

which left me confused and that when I uncheck the wp
the page speed stops working
in the website

I did exactly as you said in your tutorial.

my ubuntu and 16.04
my nginx is
 nginx -V
nginx version: nginx / 1.15.2

Do you have any tips for helping m

[2018-07-27 05:09] kakaroto1500 commented on #16
everything is working now
I had set up my wordpress with redis
so I removed the redis everything ran like magic, now it appeared to me another doubt the redis inside wordpress is not to be a mysql bank cache :(

[2018-07-28 22:04] VirtuBox commented on #16
Hello @kakaroto1500,
I'm not sure to understand. Are you using --wpredis and pagespeed at the same time ?

[2018-07-28 22:07] kakaroto1500 commented on #16
yes that's right I installed my wordpress using wp-redis

When I removed it, page speed worked fine.

Now I'm confused is not it a good practice to use it with wp-redis?

[2018-07-30 20:42] VirtuBox commented on #16
Hello @kakaroto1500,

--wp-redis stack use redis as full-page cache system for WordPress, with a direct connection between nginx and redis to pass data into redis. So it may cause conflicts between --wpredis and ngx_pagespeed module.

[2018-07-30 23:13] kakaroto1500 commented on #16
@VirtuBox
yes I had noticed something strange regarding redis and redis module with pagespeed, even without the redis I am happy with the results of the page speed, if I got something with redis I post as I did :)

Thank you for your attention.

[2018-08-02 23:55] #16 closed

[2018-08-06 08:59] wiroy opened #18 "Nginx Compile Fail"
Hello nginx compile fail error

Please help me

[2018-08-07 13:59] VirtuBox commented on #18
Hello @wiroy,

can you post the content of the file /tmp/nginx-ee.log and give us more informations about your server (the output of the command `lsb_release -a`  will be enough) ?

[2018-08-13 18:48] wiroy commented on #18
Okey thank but pagespeed error.

[2018-08-13 22:16] VirtuBox commented on #18
Hello, Issue has been fixed

[2018-08-13 22:16] #18 closed

[2018-08-17 21:59] wiroy opened #19 "RTMP Error"
/usr/local/src/nginx-rtmp-module/ngx_rtmp_eval.c
/usr/local/src/nginx-rtmp-module/ngx_rtmp_eval.c: In function ‘ngx_rtmp_eval’:
/usr/local/src/nginx-rtmp-module/ngx_rtmp_eval.c:160:17: error: this statement may fall through [-Werror=implicit-fallthrough=]
                 switch (c) {
                 ^~~~~~
/usr/local/src/nginx-rtmp-module/ngx_rtmp_eval.c:170:13: note: here
             case ESCA

[2018-08-17 22:51] VirtuBox commented on #19
Hello @wiroy,

can you give me the setup used ?
(Nginx mainline or stable ?
With Pagespeed ?
With Naxsi ?
What is your Operating system ?

[2018-08-18 12:26] VirtuBox commented on #19
Hello @wiroy,

compilation issue with gcc8.1 has been fixed

[2018-08-18 12:26] #19 closed

[2018-10-20 10:28] Rar9 opened #20 "CENTOS 7 Support"
Please also support Centos 7

[2018-10-20 13:43] VirtuBox commented on #20
Hello @Rar9 ,

I haven't enough experience with Centos/Redhat to make the script compatible with Centos 7, but feel free to contribute and to open a pull-request.

Regards,

[2018-10-20 13:43] #20 closed

[2018-11-05 03:10] yyhmsg opened #21 "Config error on ssl_ecdh_curve parameters"
Just FYI, on the config changes for TLS 1.2, TLS 1.3
`TLSv1.2 + TLSv1.3
    ##
    # SSL Settings
    ##
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers 'TLS13+AESGCM+AES128:EECDH+AES128';
    ssl_prefer_server_ciphers on;
    ssl_session_cache shared:SSL:50m;
    ssl_session_timeout 1d;
    ssl_session_tickets off;
    ssl_ecdh_curve X25519:sect571r1:secp521r1:secp384r1`

The last line "ecdh_c

[2018-11-05 11:48] VirtuBox commented on #21
Hello,
 a **;** was missing at the end of the line. It's now fixed.

[2018-11-05 11:48] #21 closed

[2018-11-28 19:43] janiosarmento opened #22 "Compile fail if one does not choose RMTP"
Select Mainline with no Pagespeed, no NAXSI, no RMTP and compile will fail at "configure" step.

The only way to compile Nginx is chosing RMTP to be compiled.

[2018-11-29 20:38] VirtuBox commented on #22
Issue has been fixed by the pull request https://github.com/VirtuBox/nginx-ee/commit/2202bce5853988bef307613f939bfb6863996ef9.

[2018-11-29 20:38] #22 closed

[2018-12-26 11:21] anacondaq opened #25 "Failed installation"
### Problem:
Clean and fresh and updated Ubuntu 18.04
hash: c446c1df359fbb83d5c78097f40d766fac73aa1b

Trying to install it, and it's has issues below:
tl;dr:

**Options selected:**

[code]

Problems:
- can't finish installation.
- selected for some reason 1.15* branch instead of stable 1.14 branch
- gcc not founded for some reason too.

### How reproduce:
1. vultr / digitalocean / or any other clo

[2018-12-26 12:09] VirtuBox commented on #25
Hello @anacondaqq,
thanks for your detailled report, I will try to reproduce the issue to understand what is going wrong.

[2018-12-26 13:19] anacondaqq commented on #25
If you need any info, just let me know.

[2018-12-26 13:50] VirtuBox commented on #25
I have found the error, I will push a fix today

[2018-12-26 22:56] VirtuBox commented on #25
Nginx-ee has been updated and compilation should work properly with Nginx stable release now.
Let me know if the issue is fixed

[2018-12-28 20:25] #25 closed, assigned to VirtuBox

[2018-12-30 00:45] ByteCollect opened #28 "uwsgi support missing in nginx-ee?"
Script installed all fine but the nginx.conf check at the end throws out an error.

# nginx -t
nginx: [emerg] unknown directive "uwsgi_param" in /etc/nginx/uwsgi_params:2
nginx: configuration file /etc/nginx/nginx.conf test failed

# /etc/nginx/uwsgi_params
uwsgi_param  QUERY_STRING       $query_string;
uwsgi_param  REQUEST_METHOD     $request_method;
uwsgi_param  CONTENT_TYPE       $content_type;

[2019-01-01 22:56] VirtuBox commented on #28
Hello @ByteCollect,
uwsgi support was removed in release v3.2. But you can easily override nginx-ee compilation options by using the following command before launching nginx-ee script :

[code]
It will override the original NGINX_MODULES variable which look like :

[code]

[2019-01-02 14:06] VirtuBox commented on #28
uwsgi support will be back with the release 3.5.0 (will be published today)

[2019-01-05 00:02] ByteCollect commented on #28
Hello @VirtuBox
Thank you for your superb and fast support. I really appreciate it.
Both solutions tested, and both work perfect  :)
THANK YOU!

[2019-01-11 16:21] #28 closed

[2019-01-20 04:32] utags opened #31 "Pagespeed module Nginx configuration error."
Hello all,

Today I try to install this script support all the nginx additional modules (used the _**--full**_ option). The script shows successfully installed. Then I added "etc/nginx/common/pagespeed-vhost.conf" and "/etc/nginx/conf.d/pagespeed.conf" files (which is mentioned by [you in here](https://github.com/VirtuBox/nginx-ee/tree/master/etc/nginx)). Then I added those conf files to my "sites

[2019-01-28 00:34] VirtuBox commented on #31
Hello @utags,

the issue has been fixed with the commit a7dd93b310cb930b4b21646c6d7b243f8fe05a80.

Regards,

[2019-01-28 18:21] utags commented on #31
Dear VirtuBox,

Within next 2 weeks I can't test the new script. Once I test it I'll update. Thanks so much your support and this script.

[2019-02-10 12:01] vasiler opened #36 "Issues - tested on Debian 8"
Hi,

At the interactive installation, I remain stuck when I have to respond if I want an automatic update.

"Do you want to setup nginx-ee auto-update cronjob ? (y/n)
Select an option [y/n]: y
Select an option [y/n]: y"

When installing with parameters, I get errors.

For "bash <(wget -O - virtubox.net/nginx-ee || curl -sL virtubox.net/nginx-ee) --dynamic --naxsi --cron" I have that in /tmp/nginx-

[2019-02-16 16:27] VirtuBox commented on #36
Hello @vasiler,

have you tried to run the script since nginx-ee v3.5.1 was released ?
Because error in your logs seems to be related to the previous method used to download openssl.

Please, can you try to run the script again and confirm if the issue is fixed ?

[2019-02-16 17:03] vasiler commented on #36
The previous version I tested successfully is 3.3.1

We just tested the script and it does not work.
Command: bash <(wget -O - virtubox.net/nginx-ee || curl -sL virtubox.net/nginx-ee) --naxsi

Please see log: https://paie.ro/nginx-ee.zip

[2019-02-17 06:26] utags commented on #31
Dear VirtuBox,

Is this works with EasyEngine v4?

[2019-02-17 12:57] utags commented on #31
I have changed to WordOps. Now no issue at all.

[2019-02-17 16:17] VirtuBox commented on #31
Hello @utags,
No, my bash script doesn't work with EasyEngine v4.
But it's fully compatible with EEv3 or WordOps.

[2019-02-17 16:20] VirtuBox commented on #36
Hello @vasiler,

Issue seems to be related to openssl, not to debian 8.
Can you try to compile nginx with nginx-ee develop branch ?

Here the command to run :

[code]

[2019-02-17 16:27] #31 closed

[2019-02-17 17:16] vasiler commented on #36
I tried, error again.

Error log https://paie.ro/nginx-ee2.zip

[2019-02-17 17:49] VirtuBox commented on #36
Thanks, I will run few tests on a VM to see if it's related to the gcc version available on debian 8 or something else.

[2019-02-18 02:37] VirtuBox commented on #36
Issue has been fixed with the last commit on develop branch.

[code]

I will publish changes on master tomorrow.

[2019-02-18 15:51] vasiler commented on #36
Now is fine, but...

Tested on Chrome Mobile (Android) and does not work with ssl_ciphers from https://github.com/VirtuBox/nginx-ee/blob/master/etc/nginx/nginx.conf (ERR_SSL_VERSION_OR_CIPHER_MISMATCH)

[2019-02-18 22:29] VirtuBox commented on #36
Hello @vasiler,
yes this ciphers suite is outdated. Proper TLS configuration is available in the [Wiki](https://github.com/VirtuBox/nginx-ee/wiki/Nginx-TLS-configuration)

[2019-02-19 03:28] #36 closed

[2019-03-09 13:50] nsgoyat opened #43 "NAXSI Installation not working"
**Attach the following commands output**

- [ ] lsb_release -a :
Distributor ID: Ubuntu
Description:    Ubuntu 18.04.2 LTS
Release:        18.04
Codename:       bionic
- [ ] nginx -V :
nginx version: nginx/1.14.0 (EasyEngine)

**Describe the bug**

I am using the following command to compile the nginx with NAXSI:
`bash <(wget -O - virtubox.net/nginx-ee || curl -sL virtubox.net/nginx-ee) --naxsi`

[2019-03-09 15:41] VirtuBox commented on #43
Hello @nsgoyat,

I will take a look on this issue, it was working fine until yesterday.

Regards,

[2019-03-10 03:21] nsgoyat commented on #43
Today, I run the script again just to check if it's something wrong with my own setup. Usually, I use a slightly modified version of "wo-nginx'setup" script by you.

On a fresh VPS with Ubuntu 18.04, I ran the following commands only:

[code]

and then

`bash <(wget -O - virtubox.net/nginx-ee || curl -sL virtubox.net/nginx-ee) --naxsi`

Again, NAXSI installation failed and the outpur is following:

[2019-03-11 18:03] VirtuBox commented on #43
Hello @nsgoyat, okay it seems to be related to naxsi release checkout. I will run few tests this evening

[2019-03-13 05:40] nsgoyat commented on #43
Tried it again today and it seems to be fixed now. NAXSI installation goes smoothly.

[2019-03-15 13:24] nsgoyat commented on #43
The issue is appearing again now...

[2019-03-15 16:00] VirtuBox commented on #43
Hello @nsgoyat,

I have noticed the issue too, I will run more tests to identify what is the cause of this error

[2019-03-20 15:29] edisoncosta opened #44 "OPENSSL error install"
**Attach the following commands output**

- [x] lsb_release -a : Debian GNU/Linux 9.8 (stretch)
- [x] nginx -V : 1.15.9

**Describe the bug**
A clear and concise description of what the bug is.

[2019-03-20 15:30] edisoncosta commented on #44
Detected OS : Debian GNU/Linux 9.8 (stretch)
 Detected Arch : x86_64

  - Nginx release : 1.15.9
  - Dynamic modules NO
  - Pagespeed : NO
  - Naxsi : NO
  - RTMP : NO

       Installing dependencies                [OK]
       Setting Up Nginx configurations        [OK]
       Downloading additionals modules        [OK]
       Downloading zlib                       [OK]
       Downloading brotli

[2019-03-21 19:39] VirtuBox commented on #44
Hello @edisoncosta,

issue has been fixed with the PR https://github.com/VirtuBox/nginx-ee/pull/45

[2019-03-21 19:40] VirtuBox commented on #43
Issue has been fixed with the PR https://github.com/VirtuBox/nginx-ee/pull/45

[2019-03-22 02:45] #43 closed

[2019-03-23 11:02] #44 closed

[2019-05-29 20:43] vasiler opened #60 "OpenSSL_1_1_1c"
OpenSSL_1_1_1c released. Is much stable than OpenSSL_1_1_1b?

[2019-05-31 14:31] VirtuBox commented on #60
Hello @vasiler,
I haven't checked the changelog yet, but I'm going to update OpenSSL in the next few days.

[2019-06-13 21:05] dvershinin opened #61 "Bloatware binary produced"
The binary is not stripped of debugging symbols and instead of ~6M you end up with an ~14M NGINX binary.

More details [here](https://www.getpagespeed.com/server-setup/where-compilation-went-wrong) in my sort of blog post - bug report :)

[2019-06-14 11:32] VirtuBox commented on #61
Hello @dvershinin,

thanks for your report, issue has been fixed with PR https://github.com/VirtuBox/nginx-ee/pull/62.

After reading your blog post, I think you haven't noticed two points about this script :
- you have the choice to compile Nginx with the latest OpenSSL stable or dev release, but you can also compile Nginx with OpenSSL from system libraries (flag : `--openssl-system`)
- I already

[2019-06-17 14:37] #61 closed

[2019-06-25 12:41] Rar9 opened #63 "ERROR patching file src/event/ngx_event_openssl.c"
Ran your script 3 days ago on my ubunu 18.04 and update was easy :-)

Today plesk changed nginx back to its default version.   (only did plesk installer update)

Tried to re-run the script but are getting an error  -  applying nginx patch      [FAIL]

2019-06-25 14:31:42 (5.66 MB/s) - ‘nginx-1.17.0.tar.gz’ saved [1032978/1032978]

--2019-06-25 14:31:42--  https://raw.githubusercontent.com/cujanovi

[2019-06-25 18:41] VirtuBox commented on #63
Issue has been fixed with PR https://github.com/VirtuBox/nginx-ee/pull/64

[2019-06-25 18:41] VirtuBox commented on #60
OpenSSL release bumped to 1.1.1c with PR https://github.com/VirtuBox/nginx-ee/pull/64

[2019-06-25 18:41] #60 closed

[2019-06-25 21:10] Rar9 commented on #63
Thanks, it works.

Where do i find a working tuned nginx.conf that will work with the compiled version?

[2019-06-26 07:30] VirtuBox commented on #63
Hello @Rar9,

I haven't published a tuned nginx.conf for Plesk, mostly because extra configurations are stored in `/etc/nginx/conf.d` with Plesk. But this one would be a good example : [nginx.conf](https://github.com/VirtuBox/ubuntu-nginx-web-server/blob/master/etc/nginx/nginx.conf)

[2019-06-26 08:18] Rar9 commented on #63
HI,
I tried this but nginx -t gives Error on client_max_body_size 100m;

Next Problem is GeoIP with is believe is now GeoIP2

[2019-06-27 13:20] VirtuBox commented on #63
Hello,
From my experience, replacing original nginx.conf isn't a way to proceed with Plesk.
You can use my nginx.conf as an example, but try to make the lowest amount of change directly in nginx.conf, and prefer creating new .conf file in /etc/nginx/conf.d instead.
If you have issues with few directives, just comment them.

I will take a look about GeoIP.

[2019-08-22 05:50] Firzum opened #73 "nginx: [emerg] unknown directive "stream" in /etc/nginx/nginx.conf:24"
**Attach the following commands output**

- [ ] lsb_release -a :
lsb_release -a
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 18.04.3 LTS
Release:        18.04
Codename:       bionic

- [ ] nginx -V :
nginx -V
nginx version: nginx/1.17.3 (VirtuBox Nginx-ee)
built by gcc 7.4.0 (Ubuntu 7.4.0-9ubuntu1~18.04.york0)
built with OpenSSL 1.1.1c  28 May 2019
TLS SNI support en

[2019-08-22 12:26] VirtuBox commented on #73
Hello,
yes this is possible, you will just have to overwritte the list of modules compiled by the script as described in the wiki : https://github.com/VirtuBox/nginx-ee/wiki/Nginx-modules

it will look like :

[code]

[2019-08-23 04:06] Firzum commented on #73
That's fantastic,n thanks you so much and thanks for this great job !

[2019-08-23 04:06] #73 closed

[2019-08-26 19:48] #63 closed

[2019-08-28 14:36] Rar9 opened #74 "OpenSSL error"
It looks like plesk updated it own nginx today.

So i tried to run the script once more, but i get openssl error.

root@mail ~ # bash <(wget -O - vtb.cx/nginx-ee || curl -sL vtb.cx/nginx-ee) --interactive

Redirecting output to ‘wget-log’.

Welcome to the nginx-ee bash script v3.6.3

Do you want to compile the latest Nginx [1] Mainline v1.17.3 or [2] Stable v1.16.1 Release ?
Select an option [1-2]

[2019-08-29 09:40] VirtuBox commented on #74
Hello @Rar9, thanks for your report.
I will fix this issue asap

[2019-08-29 09:48] Rar9 commented on #74
i tied with fully removing plesk nginx ... reboot and re-enableing ...
The i tried this moring with pagespee stable + ssl 1.1c and it seemed to download it.

Question is your script NOT preventing the Plesk Nginx update so your complied version doesnt get overwritten?

[2019-08-29 13:12] VirtuBox commented on #74
Issue has been fixed with PR https://github.com/VirtuBox/nginx-ee/pull/75.
My script cannot prevent Plesk Nginx update because their update script force sw-nginx package upgrade even if the package state is hold or if there is a blocking directive in /etc/apt/preferences.d/.
I haven't found a solution for that yet

[2019-08-29 13:12] #74 closed

[2019-09-02 09:02] XOKP opened #76 "Reverted to Plesk Nginx?"
I installed Nginx-ee on a Plesk server for a few weeks, and then the Nginx and OpenSSL was reverted to older version which I believe the updates from Plesk, is there anything I need to do after I installing Nginx-ee, in order to stop Nginx overwrite from Plesk?

`bash <(wget -O - vtb.cx/nginx-ee || curl -sL vtb.cx/nginx-ee)`

[2019-09-02 09:35] VirtuBox commented on #76
Hello @XOKP,
My script cannot prevent Plesk Nginx update because their update script force sw-nginx package upgrade even if the package state is hold or if there is a blocking directive in /etc/apt/preferences.d/.
I haven't found a solution for that yet

[2019-09-02 13:31] XOKP commented on #76
Hi @VirtuBox,

Thanks for your confirmation on this. Hope there will be a solution in the near future.

[2019-09-02 13:31] #76 closed

[2019-09-07 19:18] Rar9 opened #77 "nginx: [emerg] module "ngx_pagespeed" is already loaded in /etc/nginx/modules.conf.d/pagespeed.conf:1"
Hi I did this

plesk installer --select-release-current --remove-component nginx
plesk installer --select-release-current --install-component nginx

plesk sbin nginx_modules_ctl -e pagespeed
plesk sbin nginx_modules_ctl --status

then complied your version
bash <(wget -O - vtb.cx/nginx-ee || curl -sL vtb.cx/nginx-ee) --interactive

But get an error at end  nginx -t
nginx: [emerg] module "ngx_pages

[2019-09-07 20:38] Rar9 commented on #77
ok managed to fix this.

[2019-09-07 20:38] #77 closed

[2019-09-09 08:12] petrukngantuk opened #78 "Change Nginx to Openresty as default Openresty Nginx"
**Is your feature request related to a problem? Please describe.**
Yes, I have a nginx config that request to support lua, and want to integrate it with plesk for better and easy management...

**Describe the solution you'd like**
Is there a simple way to replace default nginx to openresty that support plesk?

I already research it, but always 403 forbidden,,, not sure what's problem there...

[2019-09-25 11:57] Rar9 opened #79 "Plesk Obsidian Ready To Market (RTM 18.0.19)"
HI Today I update to new plesk 18.x version.

When i do a

apt update && apt upgrade && plesk installer update

N: Ignoring file 'plesk.list.ai_back' in directory '/etc/apt/sources.list.d/' as it has an invalid filename extension
E: Failed to fetch http://download.opensuse.org/repositories/home:/virtubox:/nginx-ee/xUbuntu_18.04/InRelease  403  Forbidden [IP: 2620:113:80c0:8::13 80]
E: The reposito

[2019-09-25 12:50] Rar9 commented on #74
Again get  openssl Fail

etected OS : Ubuntu 18.04.3 LTS
 Detected Arch : x86_64

  - Nginx release : 1.17.4
  - OPENSSL : 3.0.0-dev
  - Dynamic modules YES
  - Pagespeed : stable
  - Naxsi : YES
  - RTMP : NO
  - Plesk : YES

       Installing dependencies                [OK]
       Installing gcc-8                       [OK]
       Downloading additionals modules        [OK]
       Downloading z

[2019-09-25 12:52] Rar9 commented on #74
with openssl 1.1.1c it seams to work.

[2019-09-25 12:54] Rar9 commented on #79
reinstalling your script seamed to have helped

but now get

The following packages have been kept back:
  sw-nginx

[2019-09-26 12:44] VirtuBox commented on #79
Hello @Rar9,
that mean Plesk installer haven't overwrite nginx-ee with the Nginx package shipped with Plesk.

[2019-10-03 08:32] utags opened #80 "dev/fd/63: line 157: dpkg-buildflags: command not found"
**Attach the following commands output**

- [ ] OS : Ubuntu 18.04

**Describe the bug**
A clear and concise description of what the bug is.

When I run the virtubox nginx installation it gives me this error.

dev/fd/63: line 157: dpkg-buildflags: command not found.

This is the SSH output.

`root@vultr:~# bash <(wget -O - vtb.cx/nginx-ee || curl -sL vtb.cx/nginx-ee)  --pagespeed

Redirecting outpu

[2019-10-03 18:32] utags opened #81 "Module path not available. /usr/share/nginx/modules/: No such file or directory"
**Attach the following commands output**

- [ ] lsb_release -a :
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 18.04.3 LTS
Release:        18.04
Codename:       bionic

- [ ] nginx -V : nginx/1.17.4 (VirtuBox Nginx-ee)

**Describe the bug**
A clear and concise description of what the bug is.

When I navigate to the nginx module directory there's no such a directory. W

[2019-10-08 00:11] VirtuBox commented on #80
Issue has been fixed with PR #82

[2019-10-08 00:11] #80 closed

[2019-10-08 02:01] mxmkmarquette opened #83 "problem with open ssl and debian 9"
[code]

[2019-10-08 14:35] mxmkmarquette commented on #83
`bash <(wget -O - vtb.cx/nginx-ee || curl -sL vtb.cx/nginx-ee) --interactive`

and i use this command line

[2019-10-16 01:23] mxmkmarquette commented on #83
do you need anything?

[2019-10-19 06:51] Chathu07 opened #84 "HTTP3 Support."
Hi.

Can we expect this cloudflare http3 module in next update?

https://blog.cloudflare.com/experiment-with-http-3-using-nginx-and-quiche/amp/

[2019-10-19 08:41] VirtuBox commented on #84
Hello @utags,

yes, I will run some tests with this module but it will be available soon

[2019-10-22 17:35] VirtuBox commented on #83
Hello, I have updated the openssl package few days ago.
Can you try again to run the script ?
And if it doesn't work in interactive mode, try with the following command :
[code]

[2019-10-22 17:37] VirtuBox commented on #81
Hello,

the module path is created only when Nginx is compiled with dynamic modules.
Otherwise, it will only be an empty directory.

[2019-10-22 17:46] VirtuBox commented on #78
Hello @petrukngantuk,
Sorry about my answer delay.
I have not used openresty enough to know all the differences between OpenResty and Nginx. But if you have 403 forbidden issues, it's probably due to openresty user/group.
With Plesk it should be `nginx:nginx`, and it's better to set it before the compilation by adding `--user=nginx --group=nginx`  to the `./configure` command.
And nginx user shoul

[2019-10-26 18:29] mxmkmarquette commented on #83
not working whenever i tried to compile with openssl it do not work!

[2019-11-01 11:51] mxmkmarquette opened #85 "on ubuntu"
##################################
 Compilation summary
##################################

 Detected OS : Ubuntu 18.04.3 LTS
 Detected Arch : x86_64

  - Nginx release : 1.17.5
  - LIBRESSL : YES
  - Dynamic modules YES
  - Pagespeed : beta
  - Naxsi : NO
  - RTMP : NO
  - Plesk : YES

       Installing dependencies                [OK]
       Installing gcc-8                       [OK]
       Dow

[2019-11-01 11:53] mxmkmarquette commented on #85
##################################
 Compilation summary
##################################

 Detected OS : Ubuntu 18.04.3 LTS
 Detected Arch : x86_64

  - Nginx release : 1.17.5
  - OPENSSL : 3.0.0-dev
  - Dynamic modules YES
  - Pagespeed : NO
  - Naxsi : NO
  - RTMP : NO
  - Plesk : YES

       Installing dependencies                [OK]
       Installing gcc-8                       [OK]

[2019-11-01 12:06] mxmkmarquette commented on #83
i even tried to switch to a new os and it's simply not working

[2019-11-01 22:48] VirtuBox commented on #85
Compilation with OpenSSL-3.0.0-dev isn't up-to-date.

But compilation with pagespeed beta, openssl and libressl is working properly on my side.

[![asciicast](https://asciinema.org/a/RtbWArXIpB5HWY3Hd4E8Peq43.svg)](https://asciinema.org/a/RtbWArXIpB5HWY3Hd4E8Peq43)

There is an issue on your server, because user `root` should be in sudoers by default.

[2019-11-01 22:49] VirtuBox commented on #83
Please open a single issue at the same time.

[2019-11-01 22:49] #83 closed

[2019-11-05 16:50] mxmkmarquette commented on #85
on debian it do not work with openssl3.0.0 that i can tel

there this error in the process

[code]

i can give you access to my server with have plesk install on it and not wordops and else

[2019-11-05 19:19] VirtuBox commented on #85
OpenSSL_3.0.0-dev patch isn't up-to-date, I will update the script in the next few days.
But it should work with other options.

[2019-11-06 12:45] TaktlosDE commented on #85
I think this error is only with plesk obsidian.

Getting following error on debian 9 with plesk obisian:

`
Warning: apt-key output should not be parsed (stdout is not a terminal)
OK
Paketlisten werden gelesen...
Abhängigkeitsbaum wird aufgebaut....
Statusinformationen werden eingelesen....
autoconf ist schon die neueste Version (2.69-10).
automake ist schon die neueste Version (1:1.15-6).
autotoo

[2019-11-06 12:48] mxmkmarquette commented on #85
got the same thing

[2019-11-14 10:48] VirtuBox commented on #85
I'm investigating on this issue

[2019-11-17 20:12] Rar9 opened #86 "Ubuntu + Plesk 18 fresh install error"
Hi just install ubuntu with latest plesk.

##################################
 Compilation summary
##################################

 Detected OS : Ubuntu 18.04.3 LTS
 Detected Arch : x86_64

  - Nginx release : 1.17.5
  - OPENSSL : 1.1.1d Stable
  - Dynamic modules YES
  - Pagespeed : beta
  - Naxsi : YES
  - RTMP : NO
  - Plesk : YES

       Installing dependencies                [OK]
       I

[2019-11-17 20:15] Rar9 commented on #86
Of before I tried to select opennssl 3 dev but download failed as well...above got a bit further

[2019-11-18 12:28] #81 closed

[2019-11-18 14:27] Rar9 commented on #86
sorry but what does this new status mean?
 fixed in next release investigating ??

[2019-11-18 14:43] VirtuBox commented on #86
Issue has been fixed in the last release (v3.6.5).

[2019-11-18 14:43] #86 closed

[2019-11-18 14:43] VirtuBox commented on #85
Issue has been fixed with the last release (v3.6.5)

[2019-11-18 14:43] #79 closed

[2019-11-18 15:26] Rar9 commented on #86
Man u are FAST :-)

Unfortunately there seams to be a verison mismatch of ngx_http_passenger_module .......

2019-11-18 16:19:48 (88.2 MB/s) - ‘/etc/cron.daily/nginx-ee’ saved [2628/2628]

       Installing Nginx-ee Cronjob            [OK]
       Performing final steps                 [OK]
       Checking nginx configuration           [FAIL]
       Nginx-ee was compiled successfully but there is a

[2019-11-18 16:05] VirtuBox commented on #86
Nginx-ee do not include ngx_http_passenger_module. So I do not understand the Nginx error related to passenger module version...
But I'm going to check if I can integrate it easily.

[2019-11-19 19:18] Rar9 commented on #86
Would this help?
https://www.phusionpassenger.com/library/install/nginx/install_as_nginx_module.html

[2019-11-20 15:03] VirtuBox commented on #86
Yes, thanks for the link

[2019-11-20 15:13] Rar9 commented on #86
I really need nginx to compile right, so im hoping for a quick miricle from your side

[2019-11-20 15:33] VirtuBox commented on #86
But do you absolutely need passenger ? Otherwise, just disable it

[2019-11-21 07:56] Rar9 commented on #86
Its a default new fresh plesk install.
i dont even know what passenger does, but it must be there for a reason.

[2019-11-21 08:13] Rar9 commented on #86
I check under upgrades: Passanger module is not enabled :-(
![image](https://user-images.githubusercontent.com/2239608/69319285-2c10e880-0c3f-11ea-8cb2-ff3446731739.png)

[2019-11-21 19:34] mxmkmarquette commented on #86
yeah because it leave a trace where it tell you like:

`/etc/nginx/modules.conf.d/`
`/usr/share/nginx/modules/`

delete the phusion passenger module at both place and it should work nicely after that i had the same problem :)

[2019-11-21 19:36] Rar9 commented on #86
Thanks, will can check....but as said passengers module was never enabled, as sever was installed fresh.

[2019-11-21 19:37] mxmkmarquette commented on #86
yeah but plesk seem to install it or prepare the server for it

[2019-11-21 19:42] Rar9 commented on #86
So I can delete  /etc/nginx/modules.conf.d/ngx_http_passenger_module.conf

/Usr does not have any passage file.

[2019-11-21 19:52] VirtuBox commented on #86
yes, it will not load the module this way.

[2019-11-22 06:59] Rar9 commented on #86
not helping  to much...

root@server ~ # nginx -t
nginx: [emerg] module "/usr/share/nginx/modules/ngx_http_passenger_module.so" version 1016001 instead of 1017006 in /etc/nginx/modules.conf.d/ngx_http_passenger_module.conf:1
nginx: configuration file /etc/nginx/nginx.conf test failed
root@server ~ # rm -rf /usr/share/nginx/modules/ngx_http_passenger_module.so
root@server ~ # rm -rf /etc/nginx/modu

[2019-11-22 15:21] VirtuBox commented on #86
Remove all files from `/etc/nginx/modules.conf.d/`

[2020-01-14 12:25] theraw opened #91 "Question about plesk setup"
Hello i'm sorry to ask about this, this is a simples question i was thinking as you went thru all this maybe you can have some info for me,

Actually what i want to reach is just replace current nginx installed by plesk with nginx plus and add some dynamic modules on `nginx.conf`

I'm using Plesk Obsidian `18.0.21` on Debian 9

Current nginx.conf is
[code]

What i wanted to ask is if i change some

[2020-01-22 08:40] vasiler opened #92 "Question about nginx"
When I checked for applications that needed updating, that appeared:

`0 upgraded, 0 newly installed, 0 to remove and 3 not upgraded.`

After researching what the problem would be, I found that it was related to the packages nginx-ee, nginx-common, nginx-custom. So I uninstalled these three packages and reinstalled nginx using this script (nginx-wo). I'm using Debian 9, but Debian 10 was in the re

[2020-01-22 09:29] Rar9 commented on #86
Hi Today plesk updated some stuff and i again have newly created file @ /etc/nginx/modules.conf.d/

nginx -t
nginx: [emerg] module "ngx_http_auth_pam_module" is already loaded in /etc/nginx/modules.conf.d/ngx_http_auth_pam_module.conf:1
nginx: configuration file /etc/nginx/nginx.conf test failed

lrwxrwxrwx 1 root root   60 Jan  2 15:52 ngx_http_auth_pam_module.conf -> /etc/nginx/modules.available

[2020-02-10 17:13] VirtuBox commented on #92
Hello vasiler,
Thanks for your report. It's only an issue with logs redirection, a fix will be available in the next release.

[2020-02-10 17:24] VirtuBox commented on #91
Hello @theraw,
from my knowledge, Plesk will never overwrite `nginx.conf`, so feel free to edit it.
But I suggest you to create additional `.conf` files in /etc/nginx/conf.d as much as possible, instead of editing nginx.conf directly to make it as clean as possible.
However, there are some directives to update which are only available in `nginx.conf` like `worker_processes  1;`.

Here the beginnin

[2020-02-11 12:26] theraw commented on #91
thanks for info 👍

[2020-02-11 12:26] #91 closed

[2020-05-01 19:49] nfguide opened #93 "OpenSSL error, fresh host/new install"
**Attach the following commands output**

- [ ] lsb_release -a :
root@d9-host:~# lsb_release -a
No LSB modules are available.
Distributor ID: Debian
Description:    Debian GNU/Linux 9.12 (stretch)
Release:        9.12
Codename:       stretch
root@d9-host:~#

- [ ] nginx -V :
root@d9-host:~# nginx -V
-bash: nginx: command not found
root@d9-host:~#

**Describe the bug**
A clear and concise descripti

[2020-05-02 00:40] nfguide commented on #93
Issue occurs when selecting --dynamic.  Completed correctly when using --static.  What gives?

[2020-05-02 15:31] VirtuBox commented on #93
Issue has been fixed in the last release.

Please try again to run the script and it should work properly.

[2020-05-02 18:16] nfguide commented on #93
Error still occurs.  Interactive script

root@d9-host:~# bash <(wget -O - vtb.cx/nginx-ee || curl -sL vtb.cx/nginx-ee) --interactive
--2020-05-02 18:14:03--  http://vtb.cx/nginx-ee
Resolving vtb.cx (vtb.cx)... 195.201.121.32, 2a01:4f8:1c1c:12f::1
Connecting to vtb.cx (vtb.cx)|195.201.121.32|:80... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://vtb.cx/ngi

[2020-05-04 19:11] VirtuBox commented on #93
Hello @nfguide,
please try to run `apt-get update && apt-get dist-upgrade -y` to make sure there is no issue with old packages before running again the script.

[2020-05-04 20:52] nfguide commented on #93
Will start with a fresh deb 9 install.

Will run apt update && apt dist-upgrade -y

Will run interactive install, with Openssl 1.1, RTMP, and Dynamic selected.  Update to follow.

[2020-05-04 21:02] nfguide commented on #93
Below is the output from fresh debian 9 install, one package added which was lsb, ran apt update and apt dist-upgrade.  Then ran lsb_release -a, and then the script as noted above.  Same error as originally reported.

root@d9-host:~# lsb_release -a
No LSB modules are available.
Distributor ID: Debian
Description:    Debian GNU/Linux 9.12 (stretch)
Release:        9.12
Codename:       stretch
root@

[2020-05-07 11:34] Rar9 commented on #86
Hi I updated today again to 1.1.8 nginx and get the same error

Nginx-ee was compiled successfully but there is an error in your nginx configuration

 nginx -t
nginx: [emerg] module "ngx_pagespeed" is already loaded in /etc/nginx/modules.conf.d/ngx_pagespeed.conf:1
nginx: configuration file /etc/nginx/nginx.conf test failed

rm -rf /etc/nginx/modules.conf.d/ngx_pagespeed.conf
resolved this

[2020-05-11 03:59] utags opened #95 "Nginx ngx_cache_purge not installed?"
**Attach the following commands output**

- [ ] lsb_release -a : No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 18.04.4 LTS
Release:        18.04
Codename:       bionic

- [ ] nginx -V :
nginx/1.17.10 (VirtuBox Nginx-ee)
built by gcc 8.4.0 (Ubuntu 8.4.0-1ubuntu1~18.04)
built with OpenSSL 1.1.1d  10 Sep 2019 (running with OpenSSL 1.1.1g  21 Apr 2020)
TLS SNI support ena

[2020-05-13 17:56] VirtuBox commented on #93
Hello @nfguide,
I will investigate on this, but I haven't be able to reproduce this issue on a fresh debian 9 install.

[2020-05-13 18:01] VirtuBox commented on #95
Hello,
it's only because the module folder is `ngx_cache_purge` and not `nginx-cache-purge`.
What do you mean by manually purge cache ?

[2020-05-14 04:57] nfguide commented on #93
Contact me if you want/need access to the host in use above.

[2020-05-15 07:22] Rar9 commented on #86
hello,
I have a problem that after updating to 1.1.8 version , when plesk updated something that i go back to 1.1.17  how can this be?

[2020-06-02 15:50] edisoncosta commented on #93
Hello @VirtuBox

Error line 588 and 594 "strech" install repository debian_10, correct "stretch"

[2020-08-12 06:15] #78 closed

[2020-08-15 01:46] ser opened #96 "--noconf"
Currently the script forces configuration of nginx. There are use cases when configuration is maintained by ansible or other devops tools. It would be fantastic if an option ```--noconf``` exists where the parts of the script which are responsible for nginx configuration are simply omitted. Just build, install and forget.

I can try to prepare a PR if the idea is accepted.

[2020-08-20 15:57] VirtuBox commented on #96
Hello @ser,
that's an excellent suggestion. Feel free to open a PR and I will merge it.
Thanks for your contribution.

[2020-08-30 01:22] ampersand-et opened #100 "nginx-ee cron.daily started failing"
nginx-ee daily cron started exiting with return code 1

I restored a vm from an image made a month ago and since the cron keeps failing. I've done it lots of times from images made within a day or two without issues. Any ideas before I purge and rebuild it?

Cheers!

[code]
[code]

/tmp/nginx-ee.log

[code]

[2020-09-09 13:05] #96 closed

[2020-09-10 11:07] VirtuBox commented on #100
Hello @ampersand-et,
thanks for your report, a fix will be available very soon.

[2020-09-11 15:45] VirtuBox commented on #100
Issue has been fixed.

[2020-09-11 15:45] #100 closed

[2020-09-25 22:47] top4music opened #102 "Error compiling nginx-rtmp on fresh/new Debian 10 cloud instance"
**Attach the following commands output**

- [ ] lsb_release -a :
- [ ] nginx -V :

**Describe the bug**
A clear and concise description of what the bug is.

I've used NGINX-ee for RTMP in the past without any issue.

Now seems RTMP module compile has give some errors.

Copy/Paste all steps

[code]

==== /tmp/nginx-ee.log CONTENT ========

[code]

[2020-09-28 11:21] loicroybon opened #103 "net::ERR_HTTP2_SERVER_REFUSED_STREAM"
**Attach the following commands output**

- [ ] lsb_release -a : Debian GNU/Linux 10 (buster)
- [ ] nginx -V : nginx/1.19.2 (VirtuBox Nginx-ee)

**Describe the bug**
Hello, I have random issues for displaying images on a vue.js frontend website :
`net::ERR_HTTP2_SERVER_REFUSED_STREAM
`
is displayed in console and images are not loaded.
Any idea ?

[2020-10-02 10:19] VirtuBox commented on #102
Hello @top4music,
can you please remove all content in the directory `/usr/local/src` with `rm -rf /usr/local/src/*` before trying to run the script again ?

[2020-10-02 14:40] Rar9 commented on #77
Do i need t remove this folder everytime when an update occures?

/etc/nginx/modules.conf.d $ ll
total 16
drwxr-xr-x 2 root root 4096 Aug 18 15:48 ./
drwxr-xr-x 7 root root 4096 Sep 30 06:39 ../
lrwxrwxrwx 1 root root   60 Aug 18 15:48 ngx_http_auth_pam_module.conf -> /etc/nginx/modules.available.d/ngx_http_auth_pam_module.load
lrwxrwxrwx 1 root root   56 Aug 18 15:48 ngx_http_memc_module.conf ->

[2020-10-02 15:01] Rar9 commented on #84
is this supported already?

[2020-10-26 09:50] W4U-TOURS commented on #102
Hello,
Same problem for me, i have to modify nginx-ee script to install https://github.com/sergey-dryabzhinsky/nginx-rtmp-module.git instead of @arut version of rtmp module...

[2020-10-31 11:56] Rar9 commented on #84
Please add

https://www.nginx.com/blog/introducing-technology-preview-nginx-support-for-quic-http-3/

server {
    listen 443 ssl;              # TCP listener for HTTP/1.1
    listen 443 http3 reuseport;  # UDP listener for QUIC+HTTP/3

    ssl_protocols       TLSv1.3; # QUIC requires TLS 1.3
    ssl_certificate     ssl/www.example.com.crt;
    ssl_certificate_key ssl/www.example.com.key;

    add

[2020-11-01 12:31] VirtuBox commented on #84
Hello @Rar9,
thanks for sharing the blog article, I will take a look on this.

[2020-11-01 13:11] VirtuBox commented on #84
Ok the first test is working :

[code]

[2020-11-07 20:20] VirtuBox commented on #102
Hello @W4U-TOURS,
is it working properly with this fork ?

[2020-11-17 14:20] mxmkmarquette commented on #84
when will it be avaible with http3 support?

[2020-11-17 14:31] mxmkmarquette opened #104 "Error after compiling nginx"
[code]

**Attach the following commands output**

- [ ] lsb_release -a :
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 20.04.1 LTS
Release:        20.04
Codename:       focal

- [ ] nginx -V :
built by gcc 9.3.0 (Ubuntu 9.3.0-17ubuntu1~20.04)
built with OpenSSL 3.0.0-alpha9-dev
TLS SNI support enabled
configure arguments: --with-cc-opt='-m64 -march=native -mtune=nativ

[2020-12-19 07:37] Rar9 commented on #84
Any update on this?

[2020-12-19 07:44] Rar9 opened #105 "Settings for drupal with plesk"
I'm using your last nginx for my plesk server.
Unfortunately I'm facing partial webp images errors.

Plesk support says its due to brotli compression that they don't yet support.

It wouldn't therefore be extremely helpful to get a basic plesk nginx config the will work with drupal 9.

Things i added is brotli, pagespeed

[2021-02-05 15:56] ampersand-et opened #106 "cron.daily nginx-ee started failing"
The cron.daily started failing in the last week or so. Didn't have time to get to it until today.

[code]

[code]

nginx-ee.log
[code]

[2021-02-09 18:04] ampersand-et commented on #106
I think the error might of been self inflicted unless someone fixed something in the last day or two.

I was having a number of unwanted random bots coming from Amazon AWS that seemed to be scraping files daily and if individually banned them a new AWS ip would appear doing the same thing so I just blacklisted AWS EC2 from the webserver thinking I was fine as I didn't use anything related to AWS.

[2021-02-09 18:04] #106 closed

[2021-02-18 12:31] yukebrillianth opened #107 "how to uninstall this package???"
**Attach the following commands output**

- [ ] lsb_release -a :
- [ ] nginx -V :

**Describe the bug**
A clear and concise description of what the bug is.

[2021-03-17 03:42] utags commented on #84
Any EAT😋?

[2021-04-07 20:15] NatSch45 commented on #103
Just got the same issue while fetching JSON data.
Many icons can't be displaying and I can't figure out why.
(sometimes it correctly displays icons btw)

[2021-04-28 09:44] Rar9 commented on #105
any update in this as image are not loading

[2021-04-29 16:46] perariontaeadastra opened #110 "nginx download fails during install, bith on ubuntu 20.04.02 and 18.04.5"
**Attach the following commands output**

- [x] lsb_release -a :
- No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 18.04.5 LTS
Release:        18.04
Codename:       bionic
- [] nginx -V :
Nginx has been already installed by Plesk installation, which I was going to replace. Worked on my previous servers without problems.
**Describe the bug**
I wanted to replace Nginx shi

[2021-05-17 20:46] perariontaeadastra opened #111 "repo signature issue"
**Attach the following commands output**

- [x] lsb_release -a :
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 18.04.5 LTS
Release:        18.04
Codename:       bionic

- [ ] nginx -V :

**Describe the bug**
I get this error.

All packages are up to date.
W: An error occurred during the signature verification. The repository is not updated and the previous index files

[2021-05-19 05:36] frankpanduh commented on #111
Hey, had a similar issue, had to just repull the GPG keys.
Hope this helps!
`sudo curl -sL https://build.opensuse.org/projects/home:virtubox:nginx-ee/public_key| sudo  apt-key add -`

Best

[2021-05-30 16:07] perariontaeadastra commented on #111
This helped! Thanks a lot!

Regards

[2021-05-30 16:09] #111 closed

[2021-06-20 15:54] draft1 opened #112 "Bug on clean Vultr Ubuntu 20.04 VPS"
**Attach the following commands output**

- [ ] lsb_release -a :
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 20.04.2 LTS
Release:        20.04
Codename:       focal

- [ ] nginx -V :
nginx version: nginx/1.21.0 (VirtuBox Nginx-ee)
built by gcc 9.3.0 (Ubuntu 9.3.0-17ubuntu1~20.04)
built with OpenSSL 1.1.1g  21 Apr 2020
TLS SNI support enabled
configure arguments: --w

[2021-07-09 14:01] Rar9 commented on #84
Hi and news since your last update?

[2021-07-12 14:34] Rar9 opened #113 "how to get geoip module added?"
is it possible to compile with the geoip module?

[2021-10-02 19:31] utags opened #114 "nginx: [emerg] unknown "srcache_fetch_status" variable dynamic modules installation."
**Attach the following commands output**
bash <(wget -qO - vtb.cx/nginx-ee || curl -sL vtb.cx/nginx-ee) --dynamic --cron

- [ ] lsb_release -a :
- [ ] nginx -V : nginx version: nginx/1.21.3 (VirtuBox Nginx-ee)
built by gcc 9.3.0 (Ubuntu 9.3.0-17ubuntu1~20.04)
built with OpenSSL 1.1.1g  21 Apr 2020
TLS SNI support enabled
configure arguments: --with-cc-opt='-m64 -march=native -mtune=native -DTCP_FA

[2021-10-08 00:15] adambirds opened #115 "sudo add-apt-repository ppa:wordops/nginx-wo -uy not working"
sudo add-apt-repository ppa:wordops/nginx-wo -uy fails with the below error:

[code]

[2021-10-08 21:54] #115 closed

[2021-12-16 10:33] Ksdmg opened #116 "module "ngx_http_brotli_filter_module" is already loaded"
Hello,
I started the script with
`bash <(wget -O - vtb.cx/nginx-ee || curl -sL vtb.cx/nginx-ee) --interactive`

1. (2) Stable
2. (y) Pagespeed
3. (2) Stable Release
4. (1) OpenSSL
5. (1) OpenSSL stable 1.1.1g
6. (n)  NAXSI WAF
7. (y) RTMP streaming module
8. (y) dynamic modules
9. (y) auto-update cronjob

I get the following exception:
[code]

I'm running on Ubuntu 18.04.6 LTS with Plesk Obsidian

[2021-12-17 12:38] TheRealSimonMlr commented on #116
In case this is helpful,
I can confirm this Bug also happens to me on a clean Plesk install:
![image](https://user-images.githubusercontent.com/62359912/146545682-f1aac95d-a02d-4edd-887b-048c394a5fc6.png)

Running on Ubuntu 20.04 x86_64 (LTS) with Plesk Obsidian 18.0.40.1

[2022-01-01 08:37] Rar9 commented on #116
This is a very old bug. Just deleted the files that are mentioned.

[2022-01-03 09:48] Rar9 opened #117 "run-parts: /etc/cron.daily/nginx-ee exited with return code 1"
**Attach the following commands output**

- [ ] Plesk Obsidian 18.0.40.1
- [ ] lsb_release -a :  Ubuntu 18.04.6 LTS
- [ ] nginx -V :
nginx version: nginx/1.21.4 (VirtuBox Nginx-ee)
built by gcc 9.2.1 20191109 (Ubuntu 9.2.1-19ubuntu1~18.04.york0)
built with OpenSSL 1.1.1  11 Sep 2018
TLS SNI support enabled
configure arguments: --add-module=../naxsi/naxsi_src --with-cc-opt='-m64 -march=native -mtun

[2022-01-07 17:38] ampersand-et opened #118 "Naxsi Started acting weird after last update"
Just after Christmas I noticed pages being served all weird, notice Nginx had an update to 1.21.5 within that same time frame. Pages started being served had lots of issues, checked the logs and Naxsi was blocking things that have been fine for a couple years now. Figuring something updated on the page side, I started making some new whitelists for the things I was doing that were getting blocked

[2022-01-20 15:37] ampersand-et commented on #118
I rolled nginx back to stable and the issue was still happening. No real option to roll back to a different version of naxsi so I'm assuming it just installs the latest version.

Naxsi seems to be not reading any of my whitelists anymore but is reading the rules and enforcing them fine.

Doesn't look like anyone else is complaining about Naxsi having a similar issue so I'm assuming it is on my end

[2022-01-20 15:37] #118 closed

[2022-02-09 07:18] Rar9 opened #119 "nginx compile with NAXSI WAF not possible"
**Attach the following commands output**

- [ ] lsb_release -a :  Ubuntu 18.04.6 LTS
- [ ] nginx -V :  1.121.6

**Describe the bug**
A clear and concise description of what the bug is.

nginx compile with NAXSI WAF  not possible

cc1: note: ‘-gsplit-dwarf’ is not supported with LTO, disabling
../naxsi/naxsi_src/naxsi_runtime.c: In function ‘ngx_http_process_basic_rule_buffer’:
../naxsi/naxsi_src/n

[2022-02-14 00:50] Rar9 opened #120 "Pagespeed Version 1.14.36.1"
Currently pagespeed stable is 1.14.36.1

Why is a 2 year older stable 1. 13.35.2. version still compiled?

[2022-06-23 02:39] Chathu07 commented on #117
I'm getting the same issue (vua email)

`Cron <root@example> test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.daily ) `

[2022-06-25 13:23] Chathu07 opened #122 "Installation Failed on WordOps Setup - hetzner VPS"
**Attach the following commands output**

- [ ] lsb_release -a :
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 20.04.4 LTS
Release:        20.04
Codename:       focal
- [ ] nginx -V :
nginx version: nginx/1.20.2 (WordOps Nginx-wo)
built with OpenSSL 1.1.1f  31 Mar 2020 (running with OpenSSL 1.1.1g  21 Apr 2020)
TLS SNI support enabled
configure arguments: --with-cc-op

[2022-06-25 23:50] devinjdawson commented on #122
https://github.com/openresty/srcache-nginx-module/pull/97 is the culprit. I think a workaround would be to change the Nginx version being compiled

[2022-06-26 00:42] devinjdawson commented on #122
You can download the `nginx-ee` repo and then run `./nginx-build.sh` `--stable` from within the `nginx-ee` directory.
 However, I found that  `--stable` does not work due to the line in `nginx-build.sh`:
 `#NGINX_STABLE="$(curl -sL https://nginx.org/en/download.html 2>&1 | grep -E -o 'nginx\-[0-9.]+\.tar[.a-z]*' | awk -F "nginx-" '/.tar.gz$/ {print $2}' | sed -e 's|.tar.gz||g' | head -n 2 | grep 1

[2022-06-26 03:15] Chathu07 commented on #122
Thank you for reply. Is this install nginx-ee nginx?

[2022-07-22 00:18] janiosarmento commented on #122
There's a new Mainline version, but still not possible to compile it. :(

[2022-09-09 09:34] VirtuBox commented on #122
Hello, yes there were breaking changes with the nginx-redis extension. I'm going to check what is wrong and if it can be fixed

[2022-09-10 20:14] alexeiyakovenko commented on #122
Hello! I also using hetzner vps, and when try to update (pagespeed stable, dynamic modules, and openssl 3.0.0-dev) I get this error:

[code]

[2022-09-10 20:34] alexeiyakovenko opened #124 "Package 'nginx-custom' and 'nginx-wo' has no installation candidate"
**Attach the following commands output**

- [ ] lsb_release -a :  20.04
- [ ] nginx -V : 1.21.6

Hello!
I try to change 'nginx-ee' to 'nginx-wo' but its not possible. After `sudo add-apt-repository ppa:wordops/nginx-wo -uy` and `sudo apt install nginx-custom nginx-wo -y` I get error:

[code]
What can be done?

[2022-09-11 05:58] Chathu07 opened #125 "Key is stored in legacy trusted.gpg keyring (/etc/apt/trusted.gpg), see the DEPRECATION section in apt-key(8) for details"
**Attach the following commands output**

- [ ] lsb_release -a :
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 22.04.1 LTS
Release:        22.04
Codename:       jammy
WordOps Version: v3.15.1
- [ ] nginx -V :

[code]

**Describe the bug**
A clear and concise description of what the bug is.

When running the update command in Ubuntu 22.04 VPS, it gives `http://download

[2022-09-19 22:42] olegcarguy commented on #122
Hello, I'm not using hetzner vps, I'm using ubuntu in Auzre and I have the exact same problem.  @VirtuBox hoping you can fix this for us.

[2022-10-06 07:50] VirtuBox commented on #122
I have removed ngx_http_redis module as you can use redis2-nginx-module directive to do the same.

[2022-10-06 07:50] #122 closed

[2022-10-08 11:57] #120 closed

[2022-10-08 11:57] #119 closed

[2022-10-08 11:57] #117 closed

[2022-10-08 11:58] #113 closed

[2022-10-08 11:58] #105 closed

[2022-10-10 18:05] olegcarguy opened #127 "Nginx Redis Cache not working with new ee-nginx version"
(Creating new issue because the original issue is in a closed state so not sure if @virtubox saw this).

Hi @VirtuBox , I just compiled without the ngx_http_redis module and while the compile worked, my NGINX caching is now broken.  (I run wordops but use nginx-ee to compile nginx because I need to add the Modsecurity module.)

After successful compile, nginx -t failed with: `nginx: [emerg] unknow

[2022-10-13 13:52] VirtuBox commented on #127
Hello @olegcarguy,
thanks for providing this feedback, I haven't be able to run tests with the redis2-nginx-module to make sure it can replace the previous ngx_http_redis module yet.
I will take a look on this in the next few days.

[2022-10-21 13:28] Chathu07 opened #129 "Repositories Not Found 404"
**Attach the following commands output**

- [ ] lsb_release -a :

- [ ] nginx -V :

**Describe the bug**
A clear and concise description of what the bug is.

[2022-10-21 15:18] VirtuBox commented on #129
Hello @Chathu07,
I have removed nginx-ee repositories because there were pretty outdated and not required on latest Ubunu/Debian distro.
You can safely remove the file `/etc/apt/sources.list.d/nginx-ee.list`

[2022-10-21 15:20] VirtuBox commented on #125
Hello,
I have removed additional packages repositories from the script, so this issue isn't relevant anymore.
Anyway, thanks for your report.

[2022-10-21 15:20] #125 closed

[2022-10-21 15:23] VirtuBox commented on #124
Hello,

you will have to remove the file `/etc/apt/preferences.d/nginx-block` and to unhold nginx package with `sudo apt-mark unhold nginx-wo nginx-common nginx-custom` to install the package from the repository.

[2022-10-21 15:38] alexeiyakovenko commented on #124
Thank you! All good! :)

[2022-10-21 15:43] #124 closed

[2022-10-21 16:13] #116 closed

[2022-11-20 16:08] Chathu07 commented on #129
Thank you update.

[2022-11-23 02:57] andremacola opened #130 "Download zlib fail to install inside docker"
[code]